#bookingDetail {
    width: 750px;
    background-color: #1c2e41;
    margin: auto;
    border-radius: 10px;
    padding: 0.75%;
    font-family: Tahoma;
}

#bookingDetail h1 {
    text-align: center;
    color: #d7bd84;
}

.bookingTable {
    width: 40%;
    margin: 0px 0.75%;
    display:inline-block;
    background-color: #6c7784;
    text-align: center;
    border-color: #d7bd84;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    
}

/* Booking Form */
.bookingForm * {
    color:#d7bd84;
    padding:0px;
    
}
.bookingForm h2{
    font-size: 28px;

margin: 18px 0px;
}
.bookingForm ul{
    min-height: 162px;
}
.bookingForm li{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
}

.bookingForm .text{
    padding: 10px;
    width: 96%;
    display:block;
    background-color: #1c2e41;; 
    border-color: #d7bd84;  
    margin-bottom: 25px;
    margin-top: 7px;
}

.bookingForm input[type=button], .bookingForm Button {
    padding: 10px;
    width: 200px;
    display: inline-block;
    background-color: #445262;
    border-color: #d7bd84;  
    margin-bottom: 25px;
    margin-top: 7px;
    margin-right: 25px;
}

.bookingForm table, th, td {
    border: solid 2px #d7bd84;
    background-color: #445262;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

.bookingForm .banner {
    text-align:center;
    width:99.5%;
    background-color:#d7bd84;
    color: #1c2e41;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0px;
}

/* Room Entry */
.roomEntry {
    width: 206.6666px;
    border-color:#d7bd84;
    border: 1px;
    padding: 20px;
    border-style: solid;
    display: inline-block;
}

.roomEntry input[type=checkbox] {
    transform: scale(1.5);
    float:right;
}
.roomEntry label {
    width: 140px;
    display: inline-block;
}

.roomEntry select {
    display:inline-block;
    transform: scale(1.06);
    background-color: #445262;
    border-color:#d7bd84;
    border: 1px;
    border-style: solid;
} 