#bookingModal {
    width: 60%;
    background-color: #1c2e41;
    margin: auto;
    border-radius: 10px;
    padding: 0.75%;
    font-family: Tahoma;
}

.bookingModal {
    width: 60%;
    background-color: #1c2e41;
    margin: auto;
    border-radius: 10px;
    padding: 0.75%;
    font-family: Tahoma;
}

.bookingWindow {
    width: 30%;
    margin: 0px 0.75%;
    display:inline-block;
    background-color: #6c7784;
    text-align: center;
    border-color: #d7bd84;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    
}
.bookingWindow * {
    color:#d7bd84;
    padding:0px;
    
}
.bookingWindow h2{
    font-size: 28px;

margin: 18px 0px;
}
.bookingWindow ul{
    min-height: 162px;
}
.bookingWindow li{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
}
.bookingWindow button{
    display: block;
    background-color: #445262;
    border-color: #d7bd84;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    width: 45%;
    font-size: 20px;
    line-height: 1.5em;
    color: white;
    padding: 10px;
    font-weight: 400;
    margin: 10px auto;
}
.price {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
}


@media screen and (max-width: 1760px) {
    .bookingWindow h2{
        font-size: 24px;
    }
    .bookingWindow li{
        font-size: 18px;
        line-height: 1.5em;
        font-weight: 500;
    }

    #bookingModal {
        width: 80%;
    }
}

@media screen and (max-width: 1260px) {
    .bookingWindow h2{
        font-size: 24px;
    }
    .bookingWindow li{
        font-size: 16px;
    }

    #bookingModal {
        width: 100%;
    }
}

@media screen and (max-width: 928px) {
    .bookingWindow h2{
        font-size: 16px;
        min-height: 36px;
    }
    .bookingWindow li{
        font-size: 12px;
        margin: 0px 15px;
    }
    .bookingWindow button{
        width: 80%;
        font-size: 18px;
    }
    .bookingWindow ul{
        min-height: 150px;
    }
}